<a href="https://colab.research.google.com/github/WESTZERO115/childmeal/blob/main/recommended_intake_to_mysql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 755 kB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [2]:
import numpy as np
import pandas as pd
import pymysql

df = pd.read_csv('/content/Average_Intake_Age.csv', encoding = 'cp949')

In [3]:
df

,영양소＼연령(세),에너지섭취량(Kcal),단백질섭취량(g),동물성단백질(g),지방섭취량(g),탄수화물섭취량(g),칼슘섭취량(mg),인섭취량(mg),철섭취량(mg),나트륨섭취량(mg),칼륨섭취량(mg),비타민A섭취량(μgRAE),티아민섭취량(mg),리보플라빈섭취량(mg),나이아신섭취량(mg),비타민C섭취량(mg),동물성단백질비(%),지방급원에너지비(%)
0,전체 평균,1995.96,71.84,38.02,46.94,295.25,517.94,1063.98,11.77,3316.74,2732.78,377.97,1.34,1.59,13.32,61.54,47.45,21.16
1,전체 표준오차,10.67,0.47,0.39,0.43,1.41,3.60,5.93,0.08,22.42,15.75,4.71,0.01,0.01,0.09,0.83,0.23,0.11
2,1-2 평균,1116.44,37.89,22.31,28.75,175.45,462.34,668.36,5.99,1116.81,1466.82,294.26,0.75,1.00,6.48,45.69,56.85,23.11
3,1-2 표준오차,18.30,0.68,0.58,0.67,3.16,15.18,12.54,0.15,31.33,32.12,11.67,0.02,0.02,0.17,2.41,0.77,0.36
4,3-5 평균,1379.06,47.13,26.70,36.29,214.37,460.09,770.49,7.37,1620.43,1733.26,343.67,0.94,1.24,8.02,58.87,54.23,23.09
5,3-5 표준오차,18.04,0.85,0.80,0.88,2.56,10.45,13.32,0.15,31.84,27.41,12.31,0.02,0.03,0.17,2.63,0.68,0.30
6,6-11 평균,1802.10,62.95,35.45,48.26,275.76,507.14,951.26,9.48,2422.99,2124.85,363.28,1.21,1.50,10.74,59.24,53.75,23.75
7,6-11 표준오차,21.71,0.97,0.74,0.88,3.26,9.70,13.62,0.16,42.70,31.11,9.66,0.02,0.03,0.19,2.07,0.53,0.25
8,12-18 평균,2165.42,79.67,45.98,60.40,319.23,539.39,1109.52,11.33,3232.34,2486.50,364.32,1.45,1.76,13.16,58.18,53.60,24.57
9,12-18 표준오차,31.53,1.42,1.23,1.36,4.88,11.82,17.52,0.20,55.12,39.73,10.68,0.03,0.04,0.25,2.29,0.65,0.33
10,19-29 평균,2169.05,82.54,50.42,61.89,289.39,507.80,1111.69,11.51,3532.87,2568.82,396.85,1.43,1.78,15.00,54.44,55.19,25.69
11,19-29 표준오차,34.47,1.64,1.45,1.73,3.67,8.76,18.40,0.22,63.99,38.26,15.40,0.03,0.03,0.31,1.50,0.52,0.26
12,30-49 평균,2172.18,79.87,44.42,52.92,303.78,540.86,1153.46,12.74,3807.74,2950.37,406.45,1.43,1.76,15.23,66.89,50.69,22.65
13,30-49 표준오차,17.46,0.76,0.63,0.62,2.27,5.34,9.45,0.13,38.63,24.04,7.33,0.01,0.02,0.15,1.45,0.32,0.15
14,50-64 평균,1989.22,69.78,32.51,39.55,309.01,551.50,1097.44,12.80,3441.26,3096.24,400.28,1.36,1.55,13.31,66.51,42.12,18.37
15,50-64 표준오차,16.40,0.69,0.51,0.55,2.35,6.90,9.71,0.14,39.46,29.12,9.72,0.02,0.02,0.14,1.51,0.35,0.16
16,≥ 65 평균,1630.43,53.69,20.10,26.03,283.99,431.72,877.91,10.83,2748.91,2528.39,286.19,1.13,1.14,10.15,53.71,32.37,14.05
17,≥ 65 표준오차,14.54,0.57,0.37,0.42,2.51,6.28,9.31,0.15,35.47,31.33,6.34,0.01,0.02,0.12,1.29,0.41,0.15

In [4]:
df = df.drop([0,1,2,3,4,5,7,9,10,11,12,13,14,15,16,17], axis=0)

In [5]:
df = df.drop(['동물성단백질(g)','칼슘섭취량(mg)','인섭취량(mg)','철섭취량(mg)','칼륨섭취량(mg)','비타민A섭취량(μgRAE)','티아민섭취량(mg)','리보플라빈섭취량(mg)','나이아신섭취량(mg)','비타민C섭취량(mg)','동물성단백질비(%)','지방급원에너지비(%)'], axis=1)

In [6]:
df.head()

  영양소＼연령(세)  에너지섭취량(Kcal)  단백질섭취량(g)  지방섭취량(g)  탄수화물섭취량(g)  나트륨섭취량(mg)
6   6-11 평균       1802.10      62.95     48.26      275.76     2422.99
8  12-18 평균       2165.42      79.67     60.40      319.23     3232.34

In [8]:
data = []    # 빈 리스트 생성
 
for i in range(6, 12):
    line = []              # 안쪽 리스트로 사용할 빈 리스트 생성
    line.append(i)
    line.append(1802.10)
    line.append(62.95)
    line.append(62.95)
    line.append(48.26)
    line.append(2422.99)
    data.append(line)         # 전체 리스트에 안쪽 리스트를 추가

for i in range(12, 19):
    line = []              # 안쪽 리스트로 사용할 빈 리스트 생성
    line.append(i)
    line.append(2165.42)
    line.append(79.67)
    line.append(60.40)
    line.append(319.23)
    line.append(3232.34)
    data.append(line)         # 전체 리스트에 안쪽 리스트를 추가
 
print(data)

[[6, 1802.1, 62.95, 62.95, 48.26, 2422.99], [7, 1802.1, 62.95, 62.95, 48.26, 2422.99], [8, 1802.1, 62.95, 62.95, 48.26, 2422.99], [9, 1802.1, 62.95, 62.95, 48.26, 2422.99], [10, 1802.1, 62.95, 62.95, 48.26, 2422.99], [11, 1802.1, 62.95, 62.95, 48.26, 2422.99], [12, 2165.42, 79.67, 60.4, 319.23, 3232.34], [13, 2165.42, 79.67, 60.4, 319.23, 3232.34], [14, 2165.42, 79.67, 60.4, 319.23, 3232.34], [15, 2165.42, 79.67, 60.4, 319.23, 3232.34], [16, 2165.42, 79.67, 60.4, 319.23, 3232.34], [17, 2165.42, 79.67, 60.4, 319.23, 3232.34], [18, 2165.42, 79.67, 60.4, 319.23, 3232.34]]

In [9]:
df = pd.DataFrame(data,columns=['영양소＼연령(세)','에너지섭취량(Kcal)','단백질섭취량(g)','지방섭취량(g)','탄수화물섭취량(g)','나트륨섭취량(mg)'])
print(df)

    영양소＼연령(세)  에너지섭취량(Kcal)  단백질섭취량(g)  지방섭취량(g)  탄수화물섭취량(g)  나트륨섭취량(mg)
0           6       1802.10      62.95     62.95       48.26     2422.99
1           7       1802.10      62.95     62.95       48.26     2422.99
2           8       1802.10      62.95     62.95       48.26     2422.99
3           9       1802.10      62.95     62.95       48.26     2422.99
4          10       1802.10      62.95     62.95       48.26     2422.99
5          11       1802.10      62.95     62.95       48.26     2422.99
6          12       2165.42      79.67     60.40      319.23     3232.34
7          13       2165.42      79.67     60.40      319.23     3232.34
8          14       2165.42      79.67     60.40      319.23     3232.34
9          15       2165.42      79.67     60.40      319.23     3232.34
10         16       2165.42      79.67     60.40      319.23     3232.34
11         17       2165.42      79.67     60.40      319.23     3232.34
12         18       2165.42      79.67     60.40      319.23     3232.34

In [15]:
#테이블 생성
conn=pymysql.connect(host='capstonedesign.c3lmane8vo1i.ap-northeast-2.rds.amazonaws.com',
                        port=3306,
                        user='admin',
                        password='swusw2022',
                        db='capstonedesign',
                        charset='utf8')
cursor=conn.cursor()
sql= "CREATE TABLE RECOMMENDED_INTAKE(Child_Age BIGINT NOT NULL,food_kcal FLOAT(6),food_protein FLOAT(6),food_fat FLOAT(5),food_carbohyd FLOAT(6),food_natrium FLOAT(8));" #DB생성
cursor.execute(sql) #SQL수행
conn.commit()
conn.close()

In [16]:
conn=pymysql.connect(host='capstonedesign.c3lmane8vo1i.ap-northeast-2.rds.amazonaws.com',
                     port=3306,
                     user='admin',
                     password='swusw2022',
                     db='capstonedesign',
                     charset='utf8')
cursor=conn.cursor()
    
# 데이터 삽입
sql = "INSERT INTO RECOMMENDED_INTAKE(Child_Age,food_kcal,food_protein,food_fat,food_carbohyd,food_natrium) VALUES (%s,%s,%s,%s,%s,%s);"

for idx in range(len(df)):
  cursor.execute(sql, tuple(df.values[idx]))


conn.commit()
conn.close()

In [17]:
conn=pymysql.connect(host='capstonedesign.c3lmane8vo1i.ap-northeast-2.rds.amazonaws.com',
                        port=3306,
                        user='admin',
                        password='swusw2022',
                        db='capstonedesign',
                        charset='utf8')
cursor=conn.cursor()
cursor.execute("SELECT * FROM RECOMMENDED_INTAKE WHERE Child_Age = %s;",(11)) 
(Child_Age,food_kcal,food_protein,food_fat,food_carbohyd,food_natrium) = cursor.fetchone() 
print(f"{Child_Age},{food_kcal},{food_protein},{food_fat},{food_carbohyd},{food_natrium}")

11,1802.1,62.95,62.95,48.26,2422.99